body {
  font-family: 'Montserrat', sans-serif;
  background-color: beige;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  color:#145127;

}
a:focus{
  outline: 4px solid black;
}
.container{
  max-width: 1080px;
  margin: 0 auto;
}
.skip-links{
  list-style: none;
  margin: 0;
  padding: 0;
}

.skip-links a{
  position: absolute;
  top: -3em;
  background-color: black;
  color:white;
  padding: .5em 1em;
  font-weight: bold;
}

.skip-links a:focus{
  top: 0;
}

.main-nav ul {
  background-color: #145127;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: white;
  padding: 1.25rem;
  text-decoration: none;
  font-size: 1.25rem;
}
.main-nav ul li a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  padding-top: 1em;
}

form input,
form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: #145127;
  border: 2px solid black;
  padding: 1rem;
  color: white;
  text-transform: uppercase;
}

.site-footer {
  padding: 2rem 0;
}